.factorial-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px dashed black;
  border-radius: 5px;
}

.title {
  text-align: center;
}

.mode,
.input-row {
  display: flex;
  gap: 5px;
  align-items: baseline;
}

.mode > input,
.mode > label {
  cursor: pointer;
}

.input-field {
  padding: 3px;
  width: 65px;
  height: 15px;
  font-size: 18px;
}
